@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get to know a few of <a href="/parks">our national and state parks</a> using our API</p>
</div>