@{
    ViewData["Title"] = "Parks";
}

<h1>All Cretaceous Parks:</h1>

<ol>
@foreach (Park park in Model)
{
  <li><strong>@park.Name</strong> | <a href="/Parks/Details/@(park.ParkId)">View Details</a></li>
}
</ol>