@{
    ViewData["Title"] = "Parks, Monuments, and Forests";
}

<h1>National and State Parks, Monuments, and Forests</h1>

<h3>Actions:</h3>

<p>@Html.ActionLink("Add a new park to the website", "Create")</p>

<h3>Parks, Monuments, and Forests:</h3>
<ol>
@foreach (Park park in Model)
{
  <li><strong>@park.Name</strong> | <a href="/parks/Details/@(park.ParkId)">View Details</a></li>
}
</ol>