html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(10, 68, 10);
  background-color: rgb(161, 177, 161);
}

div#navlinks {
  text-align: center;
}